<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2009-01-07 14:46:36 mdutoo Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.jwt.sample.aspectschildextender"
            class="org.eclipse.jwt.sample.aspectschildextender.AspectsChildExtenderPackage"
            genModel="model/aspectschildextender.genmodel"/>
   </extension>

</plugin>
