<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftest.model.emftest.presentation.emftestModelWizardID"
            name="%_UI_emftestModelWizard_label"
            class="org.emftest.model.emftest.presentation.emftestModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/emftestModelFile.gif">
         <description>%_UI_emftestModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.emftest.model.emftest.presentation.emftestEditorID"
            name="%_UI_emftestEditor_label"
            icon="icons/full/obj16/emftestModelFile.gif"
            extensions="emftest"
            class="org.emftest.model.emftest.presentation.emftestEditor"
            contributorClass="org.emftest.model.emftest.presentation.emftestActionBarContributor">
      </editor>
   </extension>

</plugin>
