<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008-12-05 19:14:30 mdutoo Exp $
-->

<plugin>

   <extension
         id="org.eclipse.jwt.we.conf.sample.staticaspect"
         name="Sample Static Aspect"
         point="org.eclipse.jwt.we.conf.model.conf">
      <conf
            file="conf/staticaspect.conf">
      </conf>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.jwt.sample.staticaspect"
            class="org.eclipse.jwt.sample.staticaspect.StaticaspectPackage"
            genModel="model/staticaspect.genmodel"/>
   </extension>

</plugin>
